{$DOMAIN:assine.ai} {
  header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

  # Frontend Vue/Nginx
  handle_path /api/* {
    reverse_proxy api:3000
  }
  
  reverse_proxy web:80
}
